/* line 2, d:/repositories/hitenter/static/sass/navbar.sass */
nav {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.75em; }

/* line 8, d:/repositories/hitenter/static/sass/navbar.sass */
.line {
  height: 0.125em;
  position: absolute;
  bottom: 0;
  margin: 0.625em 0 0 0;
  background: #FF1847; }

/* line 14, d:/repositories/hitenter/static/sass/navbar.sass */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex; }
  /* line 19, d:/repositories/hitenter/static/sass/navbar.sass */
  ul li {
    margin: 0 2.5em 0 0;
    transition: all 0.4s ease; }
  /* line 22, d:/repositories/hitenter/static/sass/navbar.sass */
  ul:last-child {
    margin-right: 0; }
  /* line 24, d:/repositories/hitenter/static/sass/navbar.sass */
  ul a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: .2em;
    font-size: 0.875em; }
  /* line 32, d:/repositories/hitenter/static/sass/navbar.sass */
  ul a:hover {
    text-decoration: none; }
