<div class="container-fluid" id="frontpage-banner-wrapper">
    <div class="row">
        <img id="banner-image" src="{{banner.Image.url}}">
        <div id="frontpage-banner-text-block">
            <div class="frontpage-banner-text-content">
                <div class="title">
                    {{banner.Title}}
                </div>
                <div class="subtitle">
                    {{banner.Subtitle}}
                </div>
                <div class="source">
                    {{banner.Source}}
                </div>
                <a href="/">
                    <div class="buy-now">
                        Jetzt kaufen
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>